.root {
    font-weight: 600;
    border-radius: 0.25rem;
    gap: 0.75rem;
    color: var(--neutral-50);
    position: relative;
    overflow: hidden;
    transition: background .3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    white-space: nowrap;
}

.root:disabled {
    opacity: 0.80;
}

.icon {
    width: 40px;
    height: 40px;
}