.missions {
    position: absolute;
    top: 28%;
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}

.mission {
    position: relative;
    font-family: Raleway, sans-serif;
    background: url(@assets/deepening.png);
    background-size: cover;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.failed {
    background: var(--danger-800);
}

.succeeded {
    background: var(--success-700);
}

.failsCounter {
    --fails-counter-size: 25px;
    background: var(--danger-400);
    width: var(--fails-counter-size);
    height: var(--fails-counter-size);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: calc((100% - var(--fails-counter-size)) / 2);
    z-index: 1;
}

@media (max-width: 768px) {
    .missions {
        transform: scale(.80);
    }
}

@media (max-width: 500px) {
    .missions {
        transform: scale(.6);
    }
}