.windowWrap {
    --min-window-width: 20%;
    display: flex;
    pointer-events: none;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    height: 80%;
    padding-inline: 40px;
    color: var(--neutral-900);
}

.windowWrap:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.windowWrap > * {
    pointer-events: auto;
}

.windowWrap[data-position$="-right"] {
    justify-content: flex-end;
}

.windowWrap[data-position$="-left"] {
    justify-content: flex-start;
}

.windowWrap[data-position^="top-"] {
    align-items: flex-start;
}

.windowWrap[data-position^="bottom-"] {
    align-items: flex-end;
}

.window {
    display: flex;
    white-space: nowrap;
    overflow: auto;
    flex-direction: column;
    position: absolute;
    min-width: var(--min-window-width);
    max-height: 100%;
    background: var(--neutral-200);
    border-radius: 5px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    animation: .3s fadeIn;
}

.windowHeader {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--primary-600);
    padding-inline: 15px;
}

.windowContent {
    padding: 15px;
    margin-top: 40px;
}

.windowContent::-webkit-scrollbar-button {
    display: none;
}


@media (max-width: 1250px) {
    .windowWrap {
        justify-content: center !important;
        --min-window-width: 90%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

