.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 65px;
    gap: 25px;
    border-radius: 15px;
    width: 400px;
    background: var(--neutral-50);
}

.image {
    width: 260px;
}