.table {
    --n: 1;
    --table-size: 600px;
    background: url("@assets/table.webp") no-repeat;
    background-size: contain;
    width: var(--table-size);
    height: var(--table-size);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.39);
    border-radius: 50%;
}

.tableActions {
    position: absolute;
    top: 50%;
}

@media (min-width: 480px) {
    .table {
        transform: scale(.6);
    }
}

@media (min-width: 580px) {
    .table {
        transform: scale(.75);
    }
}

@media (min-width: 780px) {
    .table {
        transform: scale(.9);
    }
}