.checkbox {
    display: flex;
    align-items: center;
    gap:10px;
}

.checkbox > .label {
    font-size: 16px;
}

.checkbox > input {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.15em;
    border: 0.15em solid var(--primary-600);
    outline: none;
    cursor: pointer;
}

.checkbox > input:checked {
    background-color: var(--primary-800);
    position: relative;
}

.checkbox > input:checked::before {
    content: "\2714";
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    right: 1px;
    top: -6px;
}