@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--neutral-50);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --primary-900: #814106;
    --primary-800: #915c1f;
    --primary-700: #a1773a;
    --primary-600: #af9255;
    --primary-500: #bfac6f;
    --primary-400: #cfc58a;
    --primary-300: #dfdfa5;
    --primary-200: #efebc0;
    --primary-100: #fff7dc;

    --secondary-900: #800000;
    --secondary-800: #9e0c0c;
    --secondary-700: #bb1919;
    --secondary-600: #d72626;
    --secondary-500: #f03333;
    --secondary-400: #f55454;
    --secondary-300: #f87979;
    --secondary-200: #fababa;
    --secondary-100: #ffecec;

    --neutral-50: #FAFAFA;
    --neutral-100: #F5F5F5;
    --neutral-200: #EEEEEE;
    --neutral-300: #E0E0E0;
    --neutral-400: #BDBDBD;
    --neutral-500: #757575;
    --neutral-600: #616161;
    --neutral-700: #424242;
    --neutral-800: #373745;
    --neutral-900: #212121;

    --danger-100: #FFCDD2;
    --danger-200: #EF9A9A;
    --danger-300: #E57373;
    --danger-400: #EF5350;
    --danger-500: #F44336;
    --danger-600: #E53935;
    --danger-700: #D32F2F;
    --danger-800: #C62828;
    --danger-900: #B71C1C;

    --warning-100: #FFECB3;
    --warning-200: #FFE082;
    --warning-300: #FFD54F;
    --warning-400: #FFCA28;
    --warning-500: #FFC107;
    --warning-600: #FFB300;
    --warning-700: #FFA000;
    --warning-800: #FF8F00;
    --warning-900: #FF6F00;

    --success-100: #C8E6C9;
    --success-200: #A5D6A7;
    --success-300: #81C784;
    --success-400: #66BB6A;
    --success-500: #4CAF50;
    --success-600: #2b902b;
    --success-700: #388E3C;
    --success-800: #2E7D32;
    --success-900: #1B5E20;

    --info-100: #BBDEFB;
    --info-200: #90CAF9;
    --info-300: #64B5F6;
    --info-400: #42A5F5;
    --info-500: #2196F3;
    --info-600: #1E88E5;
    --info-700: #1976D2;
    --info-800: #1565C0;
    --info-900: #0D47A1;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

hr {
    border: 1px solid var(--neutral-600);
}