.tab {
    color: var(--neutral-800);
    height: 100%;
}

.tab > form {
    display: flex;
    padding: 25px;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}