.link {
    white-space: nowrap;
    display: block;
    color: var(--neutral-50);
    position: relative;
    font-weight: 700;
    transition: all .2s ease-in;
}

.underline {
    position: absolute;
    left: 0;
    top: 90%;
    height: 3px;
    width: 100%;
    background: var(--secondary-900);
    opacity: 0;
    transition: opacity .2s ease-in;
    border-radius: 10px;
}

.link:hover {
    color: var(--secondary-900);
}

.link:hover .underline {
    opacity: 1;
}
