.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--neutral-50)
}

.chosenRole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: fit-content;
}

.roleName {
    font-size: 18px;
    font-weight: 700;
}

.roleDescription {
}