.avatarImageContainer {
    position: relative;
    background: url(@assets/avatar_background.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(var(--rotation-avatar-children));
}

.avatarImage {
    --box-shadow-size: 5px;
    background: no-repeat center center / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 50%;
    height: 85%;
    width: 85%;
}

.inMission {
    box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-size) var(--warning-400);
}

.chosen {
    box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-size) var(--success-600);
}

.canBeChosen {
    box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-size) var(--neutral-400);
}