.snackbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
    padding: 15px;
    pointer-events: none;
    z-index: 1;
}

.message {
    --message-duration: 0s;
    position: relative;
    background: var(--neutral-50);
    border-radius: 5px;
    color: var(--neutral-800);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    animation: fadeIn .5s, fadeOut .5s var(--message-duration) forwards;
    pointer-events: all;
    cursor: pointer;
}

.closeIcon {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 5px;
    top: 5px;
}

.icon {
    width: 40px;
    height: 40px;
}

.text {
    white-space: pre-wrap;
    font-size: 18px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-right: 100px;
    }
    100% {
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        margin-right: 0;
    }
    20% {
        margin-right: -10px;
    }
    100% {
        opacity: 0;
        pointer-events: none;
        margin-right: 75px;
    }
}

@media (max-width: 1200px) {
    .snackbar {
        padding-bottom: 100px;
        align-items: center;
        min-width: 80%;
    }
}