.like {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.like svg {
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.like svg path {
    transition: all 0.2s ease;
}

.like:hover svg path {
    fill: #f65c8a;
}

.like:active svg {
    transform: scale(0.7);
}

.liked svg path {
    fill: #f65c8a;
}