.form{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.form::-webkit-scrollbar {
    display: none;
}

.form > * {
    width: 99%;
}

.form > button {
    padding: 20px;
}