.avatar {
    --angle-offset: 90deg;
    --offset-from-center: 120px;
    --image-size: 150px;
    --rotation-avatar-children: calc((var(--angle-offset) + 360deg / var(--n) * var(--i)) * -1);
    --i: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--image-size);
    height: var(--image-size);
    position: absolute;
    left: calc(var(--offset-from-center) * -1);
    transform-origin: calc(var(--table-size) / 2 + var(--offset-from-center));
    transform: rotate(calc(var(--angle-offset) + 360deg / var(--n) * var(--i)));
}

.name {
    white-space: nowrap;
    background: var(--secondary-900);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    min-width: 125px;
    width: fit-content;
    border-radius: 5px;
    position: absolute;
    color: var(--neutral-50);
    font-size: 18px;
    padding: 12px;
    transform: rotate(var(--rotation-avatar-children)) translateY(calc(var(--image-size) / 2 + 12px));
}

.crown {
    background: url(@assets/crown.webp) center no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 10;
    transform: rotate(var(--rotation-avatar-children)) translateY(calc(var(--image-size) / 2 * -1)) scale(.8);
    width: 105%;
    height: 105%;
}

.kickButton {
    position: absolute;
    transform: rotate(var(--rotation-avatar-children)) translateY(calc(var(--image-size) / 2 + 45px));
}

.me {
    font-weight: 700;
}