.root {
    background: no-repeat center center / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 85%;
    background-image: url(@assets/jail.webp);
}