.votesHistory {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.players > div {
    padding: 5px;
}

.players > div:not(div:first-child) {
    text-align: end;
}

.table {
    display: flex;
    gap: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.column > div {
    padding: 5px;
}

.missionButtons {
    display: flex;
    align-items: center;
    gap: 25px;
    width: fit-content;
}

.missionButtons > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}

.missionButton {
    background: var(--primary-500);
}

.missionButton:hover {
    background: var(--primary-700);
}

.missionButtonChosen {
    background: var(--success-400);
    transform: scale(1.1);
}