.navBar {
    --create-set-link-width: 145px;
    --underline-margin-left: 0;
    display: flex;
    position: relative;
    background: white;
    width: 100%;
    height: 45px;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.link {
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;
    color: var(--neutral-800);
    cursor: pointer;
}

.navBar > .link:nth-child(1):hover ~ hr {
    --underline-margin-left: 0;
}

.navBar > .link:nth-child(2):hover ~ hr {
    --underline-margin-left: var(--create-set-link-width);
}

.navBar > .link:nth-child(3):hover ~ hr {
    --underline-margin-left: calc(var(--create-set-link-width) * 2);
}

.navBar > .link:nth-child(4):hover ~ hr {
    --underline-margin-left: calc(var(--create-set-link-width) * 3);
}

.text {
    margin-top: 7px;
}

.underline {
    height: 7px;
    width: var(--create-set-link-width);
    background: transparent;
    transition: all .2s linear;
}

.navBar > hr {
    position: absolute;
    top: calc(100% - 7px);
    width: var(--create-set-link-width);
    margin-left: var(--underline-margin-left);
    background: var(--primary-900);
    height: 7px;
    transition: .3s ease-in-out;
    pointer-events: none;
}