.container {
    padding-inline: 15px;
}
.container > p {
    color: var(--neutral-700)
}
.container ul {
    list-style-type: upper-roman;
}
.container ul li {
    color: var(--neutral-800);
    font-size: 18px;
    font-weight: 500;
}
.title {
    color: var(--neutral-800);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    color: var(--neutral-800);
    font-size: 18px;
    font-weight: 700;
}

.subsubtitle {
    font-size: 18px;
}
