.gameSetWindow {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.gameSetItem {
    cursor: pointer;
    font-size: 18px;
}

.name {
    font-weight: 700;
}
.description {
    white-space: pre-wrap;
}
.roleDescription {
    white-space: pre-wrap;
}