.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--neutral-50);
    color: var(--neutral-800);
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: hidden;
    width: 450px;
    height: 600px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
    width: 100%;
    height: 50%;
}

.textContent {
    display: flex;
    flex-direction: column;
}

.roleDescription {
    margin-top: 15px;
    white-space: pre-wrap;
    color: var(--neutral-600);
}

.author {
    font-size: 16px;
    font-style: italic;
}

.title {
    font-size: 28px;
    font-weight: 700;
}

.image {
    background: no-repeat center;
    background-size: cover;
    height: 50%;
    width: 100%;
}

.actions {
    display: flex;
    gap: 15px;
}