.createRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: var(--neutral-50);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    gap: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.urlContainer {
    display: flex;
    gap: 15px;
    align-items: center;
}

.url {
    font-size: 18px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    padding: 5px;
    border-radius: 5px;
    width: 420px;
}

.copy {
    width: 45px;
    height: 45px;
}