.container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.selector {
    background: white;
    color: #373745;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 0 1px #DCDCDF;
    outline: 0!important;
    transition:  box-shadow .2s linear;
    min-width: 125px;
}

.selector:hover {
    box-shadow: 0 0 0 1px #6495ED;
}

.selector:focus {
    box-shadow:  0 0 0 2px #6495ED;
}

.label {

}