.container {
    white-space: nowrap;
    overflow-x: clip;
    overflow-y: visible;
    position: relative;
    width: 100%;
}

.container fieldset {
    position: relative;
}

.input {
    background: var(--neutral-50);
    padding: 12px 16px !important;
    width: 100% !important;
    box-shadow: inset 0 0 0 1px #DCDCDF;
    border-radius: 5px !important;
    border: 0 !important;
    outline: none;
    box-sizing: border-box;
    color: #373745;
    transition: box-shadow .2s linear;
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
    transition-delay: initial;
    transition: all 100000000s ease-in-out 0s;
}

.input:valid ~ .label {
    padding-right: 2px;
    padding-left: 2px;
    top: -14px;
    left: 11px;
    scale: .9;
    color: #6495ED;
    background: white;
}

.errorInput {
    box-shadow: inset 0 0 0 2px var(--danger-500);
}

.label {
    position: absolute;
    box-sizing: border-box;
    top: calc(50% - 12px);
    left: 15px;
    z-index: 1;
    border-radius: 25%;
    color: #B1B1B7;
    pointer-events: none;
    transition: all .3s ease;
}

.input:hover {
    box-shadow: inset 0 0 0 1px #6495ED;
}

.input:focus {
    box-shadow: inset 0 0 0 2px #6495ED;
}

.input:focus ~ .label {
    padding-right: 2px;
    padding-left: 2px;
    top: -14px;
    left: 11px;
    scale: .9;
    color: #6495ED;
    background: white;
}

.error {
    color: var(--danger-500);
    white-space: pre-wrap;
}