.roles {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    overflow-y: auto;
}

.roles > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
}

.setName {
    font-size: 32px;
    font-weight: 700;
}   

.setDescription {
    color: var(--neutral-800);
    font-size: 18px;
}

.roleDescription {
    white-space: pre-wrap;
}