.main {
    padding-top: 50px;
    background: no-repeat center;
    background-image: url(@assets/background.webp);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}