.root {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.root div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.root div:nth-child(1) {
	left: 8px;
	animation: root1 0.6s infinite;
}

.root div:nth-child(2) {
	left: 8px;
	animation: root2 0.6s infinite;
}

.root div:nth-child(3) {
	left: 32px;
	animation: root2 0.6s infinite;
}

.root div:nth-child(4) {
	left: 56px;
	animation: root3 0.6s infinite;
}

@keyframes root1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes root2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}

@keyframes root3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}
