.paper {
    background: var(--neutral-50);
    color: var(--neutral-800);
    width: 75%;
    height: fit-content;
    max-height: 80%;
    border-radius: 10px;
    padding: 30px;
    overflow-y: auto;
}