.toggleButton {
    position: relative;
    width: 40px;
    height: 40px;
}

.tooltip {
    --tooltip-width: 100px;
    padding: 0 2px;
    position: absolute;
    width: var(--tooltip-width);
    background: var(--neutral-800);
    top: -100%;
    left: calc((100% - var(--tooltip-width)) / 2);
    font-size: 10px;
    opacity: 0;
    border-radius: 3px;
    transition: opacity .2s ease;
    transition-delay: 2s;
    pointer-events: none;
}

.toggleButton:hover .tooltip {
    opacity: 1;
}

.toggleButton:disabled {
    opacity: .7;
}


