.root {
    --hover-background: var(--primary-800);
    font-weight: 600;
    border-radius: 0.25rem;
    gap: 0.75rem;
    padding: 0.5rem;
    color: var(--neutral-50);
    position: relative;
    overflow: hidden;
    background: var(--primary-700);
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    filter: contrast(1);
    transition: background .3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    white-space: nowrap;
}

.root:hover:enabled {
    background: var(--hover-background)!important;
}

.root:disabled {
    opacity: 0.80;
}