.roles {
    width: 100px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.roles > * {
    flex-shrink: 0;
}

.roles::-webkit-scrollbar {
    display: none;
}

.roles > * {
    height: 100px;
}