.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    gap: 20px;
    position: relative;
}

.search {
    position: absolute;
    top: 20px;
}

.cardsList {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 120px;
    flex-wrap: wrap;
    height: 100%;
}