.toolBar {
    position: fixed;
    --height: 60px;
    height: var(--height);
    top: calc(100% - var(--height));
    display: flex;
    background: var(--primary-800);
    border-radius: 15px 15px 0 0;
    transition: all .5s ease;
    padding: 0 15px;
    transform: translateY(100%);
    max-width: 90vw;
}

.toggleButton {
    background: var(--primary-800);
    position: absolute !important;
    width: 35px !important;
    height: 25px !important;
    top: -25px;
    left: calc(50% - 35px / 2);
    border-radius: 15px 15px 0 0;
}

.icon {
    transition: transform .5s ease;
    top: 0;
    position: absolute;
}

.iconToggled {
    position: absolute;
    transform: rotate(180deg);
}

.toggled {
    transform: translateY(0%);
}

.toolBarContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 100%;
}

.toolBarContent > * {
    display: flex;
    gap: 15px;
}

.left {
    justify-content: flex-end;
    align-items: center;
}

.center {
    width: 102px;
}

.right {
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 550px) {
    .toolBarContent {
        overflow-x: auto;
        justify-content: space-between;
    }
}
