.wrapper {
    --authors-color:  var(--neutral-700);
    --members-color: var(--primary-800);
}

.groups {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.group {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    background: inherit;
    transition: all .3s ease;
}

.authors {
    color: var(--authors-color);
}

.members {
    color: var(--members-color);
    font-weight: 700;
}

.selected {
    background: var(--success-300);
}


.legend {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.legend > * {
    display: flex;
    align-items: center;
    gap: 5px;
}

.authorsColor {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background: var(--authors-color);
}

.membersColor {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background: var(--members-color);

}