.navBar {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: var(--primary-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow-x: auto;
}
.navBar::-webkit-scrollbar {
    display: none;
}
.side {
    display: flex;
    align-items: center;
    gap: 25px;
}

.auth {
    transition: margin-bottom ease .1s;
    padding: 10px;
    border-radius: 3px;
}

.auth:hover {
    transform: translateY(-3px);
}

.login {
    color: var(--neutral-50) !important;
    background: var(--neutral-800);
}


.register {
    color: var(--neutral-800) !important;
    background: var(--neutral-50);
}

.nickname {
    font-weight: 700;
}
