.container {
    background: var(--neutral-50);
    position: relative;
    width: 75%;
    height: 80%;
    min-width: 600px;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
}

.tabContainer {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    height: calc(100% - 45px);
}